p{
    color: red;
}

#number-two{
    color: blue;
}

.number-three{
    color: yellow;
}

.font-size{
    font-size: larger;
}

body{
    background-color: black;
}

div span{
    color: red;
}

div p{
    color: white;
}