* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #a06060;
}
.dis_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 50px;
}
.dis_flex {
  display: flex;
  justify-content: space-between;
}

.top {
  width: 1000px;
}

.text {
  color: white;
  font-size: 70px;
  font-family: cursive;
  text-shadow: 3px 0 #da0463;
}
.size {
  width: 100px;
  height: 100px;
}
.border {
  border: 7px solid rgb(49, 65, 89);
  border-radius: 15px;
}
.back {
  background-size: cover;
  background-position: center;
  background-color: white;
  font-size: 60px;
  font-family: cursive;
  color: #da0463;
  text-shadow: 2px 0 white;
  text-align: center;
}
.box1 {
  background-image: url(./tom1.png);
}
.box2 {
  background-image: url(./tom2.png);
}
.box3 {
  background-image: url(./tom3.png);
}
.box4 {
  background-image: url(./tom4.png);
}
.box5 {
  background-image: url(./snare.png);
}
.box6 {
  background-image: url(./crash.png);
}
.box7 {
  background-image: url(./kick.png);
}
